<% title("Upload a file:") %>

<% form_for @upload, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.file_field :file %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', uploads_path %>
